@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Indicados ao Oscar</h1>
    <div class="mt-5">
        <h5>Adicione a lista de indicados</h5>
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>
    </div>
</div>
